<!DOCTYPE html>
<html>
  <head>
    <title>About us</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>About us!</h1>
    <p>We're awesome
    </p>
  </body>
</html>
